# Electric and Magnetic Fields
_magn
*elecfield*
*magfield*

# FatBeam
fatbeam/results
fatbeam/old_code

# Project Files and Folders
output

# IDE and Python
.git
gitignore_old.txt
__pycache__
.spyproject
*.spydata
.ipynb_checkpoints

# Not a Project Files
*.zip
*.rar
*.jpeg
*.png
*.doc
*.docx